@model IEnumerable<GroupProjectCISS411.Models.Session>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<h2>@Model.FirstOrDefault().Coach.CoachName</h2>
@{
    if (Model.Count() < 1)
    {
        <p>You don't have a session yet. <a asp-for="AddSession">Add a session</a></p>
    }
    else
    {
        <h3>All Sessions</h3>
        <table border="1">
            <tr>
                <th>Session ID</th>
                <th>Session Title</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Daily Start Time</th>
                <th>Seat Capacity</th>
                <th>Post Report</th>
            </tr>
            @foreach (var session in Model)
            {
                <tr>
                    <td>@session.SessionId</td>
                    <td>@session.SessionTitle</td>
                    <td>@session.StartDate</td>
                    <td>@session.EndDate</td>
                    <td>@session.DailyStartTime</td>
                    <td>@session.SeatCapacity</td>
                    <td>
                        <a asp-controller="Coach"
                           asp-action="PostReport"
                           asp-route-id="@session.SessionId">Post report</a>
                    </td>
                </tr>
            }
        </table>
    }
}
<p><a asp-action="Index">Back to coach home</a></p>